<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/jquery.js"></script>   
    <script src="/js/compiled.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
